<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kaleidoscope</title>
    <style>
        html, body {
            margin:0;
            height:100%;
        }
        img {
            display:block;
            width:100%; height:100%;
            object-fit: cover;
        }
    </style>

  </head>
  <body>
    <img src="" id="imagebox">

    <script>

        var imagedata = JSON.parse('{{ imagedata | tojson | safe }}')


        var offsetX = 0
        var offsetY = 0

        imagebox = document.getElementById("imagebox")
        imagebox.src = "data:image/png;base64," + imagedata[0]

        document.onmousemove = move

        function move(e)  {
            var mouseX = e.clientX + window.scrollX
            var mouseY = e.clientY + window.scrollY

            var offsetFactor = Math.sqrt(mouseX*mouseX + mouseY*mouseY) / Math.sqrt(window.innerWidth*window.innerWidth + window.innerHeight*window.innerHeight)
            // normalized offset factor to load the correct image

            imagebox.src = "data:image/png;base64," + imagedata[Math.floor(imagedata.length * offsetFactor)]
        }

    </script>

  </body>
</html>